/* Themes are all placed at the top */
/* Each new theme is a new data-theme */
/* Assign variables here */

/* in order to make a new theme, i would just copy a theme attributes and add values. */

:root {  /* light/default theme */
    --background: #f7fafc;
    --background-secondary: #edf2f7;
    --accent-background: #cbd5e0;
    --text-primary: #1a202c;
    --text-secondary: #606a7c;
    --text-contrast: #f7fafc;
    --color-primary: #0078d4;
    --color-muted: #2a5f91;
    --color-light: #7ab7e6;
    --color-dark: #033358;
    --font-family: 'Segoe UI';

    --chakra-colors-chakra-body-text: #1a202c;
    --chakra-colors-gray-800: #1a202c;
    --chakra-colors-gray-700: #2d3748;
    --chakra-colors-gray-600: #4a5568;
}

[data-theme="dark"] {
    --background: #171923;
    --background-secondary: #1a202c;
    --accent-background: #2d3748;
    --text-primary: #edf2f7;
    --text-secondary: #919dae;
    --text-contrast: #171923;
    --color-primary: #63b3ed;
    --color-muted: #4299e1;
    --color-light: #7ab7e6;
    --color-dark: #033358;
    --font-family: 'Segoe UI';
    --chakra-colors-chakra-body-text: #fff9f3;
    --chakra-colors-gray-800: #fff9f3;
    --chakra-colors-gray-700: #fff9f3;
    --chakra-colors-gray-600: #fff9f3;
}

[data-theme="earth-tones"] {
    --background: #fff9f3;
    --background-secondary: #f7f3ed;
    --accent-background: #e0d5cb;
    --text-primary: #2c251a;
    --text-secondary: #7c7160;
    --text-contrast: #fcfaf7;
    --color-primary: #685f4a;
    --color-muted: #483d2d;
    --color-light: #e6be7a;
    --color-dark: #2a1b0d;
    --font-family: 'Segoe UI';

    --chakra-colors-chakra-body-text: #2c251a;
    --chakra-colors-gray-800: #2c251a;
    --chakra-colors-gray-700: #2c251a;
    --chakra-colors-gray-600: #2c251a;
}
[data-theme="dark-earth-tones"] {
    --background: #2a251a;
    --background-secondary: #2f2a1f;
    --accent-background: #403a31;
    --text-primary: #f5f0e3;
    --text-secondary: #c9c4b7;
    --text-contrast: #2a251a;
    --color-primary: #8d7b68;
    --color-muted: #6e5f50;
    --color-light: #ab9c8c;
    --color-dark: #584a3c;
    --font-family: 'Segoe UI';

    --chakra-colors-chakra-body-text: #fff9f3;
    --chakra-colors-gray-800: #fff9f3;
    --chakra-colors-gray-700: #fff9f3;
    --chakra-colors-gray-600: #fff9f3;
}

/* Global tags */
i {
    line-height: 0;
    font-size: 100%;
}

/* Styles */
/* When changing theme based colors use id's because Chakra overides classes */
/* Only add color based code, add other styles in their respective components */

#button {
    background-color: var(--color-primary);
    color: var(--text-contrast);
}

#button:hover {
    background-color: var(--color-muted);
}

#component {
    background-color: var(--background);
    color: var(--text-primary);
}

#schedule {
    background-color: var(--background-secondary);
    color: var(--text-primary);
}

#selector-button {
    background-color: var(--background-secondary);
    color: var(--text-primary);
}

.shadow {
    box-shadow: inset 0 1px hsla(0,0%,100%,.05), rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.inset-shadow {
    box-shadow: inset 0 1px hsla(0,0%,100%,.05);
}

.tick-flip-panel {
    background-color: var(--background-secondary);
    color: var(--text-primary);
}
